CLIENT_GLOBAL_SETTINGS={"APIKey":"","password":"","enterToSend":true}
CLIENT_SESSION_SETTINGS={"title":"","saveSession":true,"APITemperature":0.6,"continuousDialogue":true,"APIModel":"gpt-3.5-turbo"}
CLIENT_DEFAULT_MESSAGE='Powered by OpenAI Vercel
- 欢迎使用向阳的chatGPT。
'
CLIENT_MAX_INPUT_TOKENS={"gpt-3.5-turbo":4096,"gpt-4":8192,"gpt-4-32k":32768}
OPENAI_API_BASE_URL=api.openai.com
OPENAI_API_KEY=
TIMEOUT=30000
PASSWORD=
SEND_KEY=
SEND_CHANNEL=9
NO_GFW=false
